body {
  font-family: sans-serif;
}

.jumbotron{

 background-color: lightgrey;
 width: auto;
 padding: 25px;
 margin: auto;
 position: center;
}

.buttons{
 padding: 25px;
}

button{
  margin: 6px 4px;
  text-align: center;
  font-size: 16px;
  padding: 14px 40px;

}

#elephant{
   position: right;
   width: 100px;
   height: 200px;
 }

 #drivingElephant{
    width: auto;
    height: auto;
    position: relative;
    animation-name: sideToSide;
    animation-duration: 15s;
    animation-iteration-count:infinite;}

 @keyframes sideToSide {
   0%   {left:0px;}
   25%   {left:-500px;}
   75%  {left:500px;}
   100%  {left:0px;}
 }

.btn{
   width:33%;
   text-align: center;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
